<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- Font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
  <a href="/top-stories" type="button" class="btn btn-outline-dark">Top Stories</a>
  <a href="/new-stories" type="button" class="btn btn-outline-dark">New Stories</a>
  <a href="/best-stories" type="button" class="btn btn-outline-dark">Best Stories</a>
  <h1 class="text-align-center">
    Top Stories
  </h1>
  <h3 class="text-align-center text-muted">Welcome to Hackers News Site</h3>
  {% if stories is null and messages is not null %}
    {% for message in messages %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% else %}
    <div class="row">
      {% for index, story in stories %}
        <div class="col-sm-12">
          <div class="card">
            <h5 class="card-header">{{ story['type'] ~ ' No:' ~  story['id']}}</h5>
            <div class="card-body">
              <h5 class="card-title">{{ story['title'] }}</h5>
                {% for commIndex, comment in story['storyComments'] %}


              <div class="accordion" id="{{ 'accordion' ~ commIndex }}" style="padding-bottom: 20px;">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="{{ 'heading' ~ commIndex }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="{{ '#collapse' ~ commIndex }}" aria-expanded="false" aria-controls="{{ 'collapse' ~ commIndex }}">
                      <i class="far fa-comment"></i> &nbsp;&nbsp; {{ comment['type'] }} from {{ comment['by']}} on <cite title="Source Title">{{ comment['time'] }}</cite>
                    </button>
                  </h2>
                  <div id="{{ 'collapse' ~ commIndex }}" class="accordion-collapse collapsed show" aria-labelledby="{{ 'heading' ~ commIndex }}" data-bs-parent="{{ '#accordion' ~ commIndex }}">
                    <div class="accordion-body">
                      <small>{{ comment['text']|raw }}</small>
                    </div>
                  </div>
                </div>
              </div>

                {% endfor %}
              <p class="text-muted"> - by : {{ story['by'] ~ ' ' ~ story['time'] }}</p>
              <a href="{{ story['url'] }}" class="btn btn-primary">Read more...</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>


</body>
</html>
